.sectionapp-h1{
    color: #4876FF;
    font-weight: bold;
    letter-spacing: 3px;
}
.sectionapp-a , a:link{
    text-decoration: none;
}
.sectionapp-p{
    line-height: 2rem;
    opacity: 0.6;
    font-size: 18px;
}
    
